<div id="login">
  <div class="login-errors"></div>
  <button id="select_login" class="active">login</button>
  <button id="select_register">register</button>
  <form id="form_login">
    <label for="username_field">username</label>
    <input type="text" id="username_field" required></input>
    <label for="password_field">password</label>
    <input type="password" id="password_field" required></input>
    <div class="clear"></div>
    <input type="submit" id="submit" value="go">
  </form>
</div>
