<div id="login">
  <div class="login-errors"></div>
  <form class="login form">
    <input type="text" class="field" placeholder="username" name="username" required></input>
    <input type="password" class="field" placeholder="password" name="password" required></input>
    <div class="clear"></div>
    <input type="submit" class="button login" value="sign in">
    <input type="submit" class="button register hidden" value="sign up">
    <div class="switch">
      <a class="login hidden">i have an account</a><a class="register">i need to register</a>
    </div>
  </form>
</div>
