<div id="login">
  <div class="login-errors"></div>
  <form class="login form">
    <input type="text" class="field" placeholder="username" name="username" required></input>
    <input type="password" class="field" placeholder="password" name="password" required></input>
    <div class="clear"></div>
    <input type="submit" class="button submit" value="sign in">
    <div class="switch">
      <a class="login hidden">sign in</a><a class="register">sign up</a>
    </div>
  </form>
</div>
