<div id="panel">
<div id="number"></div>
happinesses
<br><br>
<button id="open_settings">Settings</button>
<button id="sad">I am sad</button>
<button id="logout">logout</button>

<%- partial('partials/settings') %>

<div id="add_happiness">
  <form id="form_happiness">
    <input id="message_field" type="text" required>
    <input type="submit" class="submit">
    <a class="close button">close</a>
  </form>
</div>
</div>
