<div id="settings">
  <form id="form_settings">
    <label for="email_field"><span class="label_title">email</span> for password
    recovery and an end-of-year email of happinesses.</label>
    <input type="email" id="email_field">
    <label for="sms_field"><span class="label_title">texting number</span> save
    (662) 626-2013 in your phone to text your happinesses!</label>
    <input type="tel" id="sms_field">
    <input type="checkbox" id="ignore_field">
    <label for="ignore_field">"Don't email me my happinesses!"</label>
    <input type="submit" id="submit_settings" value="save">
  </form>
</div>
