<div id="settings">
  <form id="settings_form">
    <label for="email_field"><span class="label_title">email</span> so you can
    receive an end-of-year email of all of your happinesses.</label>
    <input type="email" id="email_field">
    <label for="sms_field"><span class="label_title">texting number</span> - text
    <span id="phone">(662) 626-2013</span> from the number you enter to send
    happiness via mobile.</label>
    <input type="tel" id="sms_field" placeholder="5556667777">
    <input type="submit" value="save">
    <a class="close button">close</a>
  </form>
</div>
