<div id="settings">
  <form class="settings form">
    <label for="email_field"><strong>Email</strong> so you can
    receive an end-of-year email of all of your happinesses.</label>
    <input type="email" name="email" class="field" id="email_field">
    <label for="sms_field"><strong>Texting number</strong> - text
    <span class="phone">(662) 626-2013</span> from the number you enter to send
    happiness via mobile.</label>
    <input type="tel" id="sms_field" class="field" name="sms">
    <input type="submit" class="button" value="save">
    <a class="close button">close</a>
  </form>
</div>
