<script>
<% if (!!user) { %>
  var user = <%-user%>;
<% } else { %>
  var user = null;
<% } %>
</script>
<div id="background"></div>
<div id="wrapper">

  <div id="jar">
    <div id="moving" class="animated shake">
      <div id="liquid"></div>
      <img src="/images/add.png" id="add" class="bubble">
    </div>
    <img src="/images/sad.png" id="sad" class="bubble">
    <div id="content">
      <%- partial('partials/panel') %>
      <%- partial('partials/login') %>
    </div>
  </div>


  <div id="outline">
  <!--img src="/images/jar.png"-->
  </div>
  <div id="push"></div>


</div>
<div id="title">
  <div id="username"><% if (!!user) { %><%=user.username%><% } %></div>
  <div id="hj">happiness jar</div>
</div>

<div id="footer">
<div id="footercontainer">
<div id="colors">
  <div id="red" class="color red selected"></div>
  <div id="orange" class="color orange"></div>
  <div id="yellow" class="color yellow"></div>
  <div id="green" class="color green"></div>
  <div id="blue" class="color blue"></div>
  <div id="violet" class="color violet"></div>
  <div id="white" class="color white"></div>
</div>
<div id="tagline">
<a href="mailto:michelle@michellebu.com">feedback</a>
<a href="https://github.com/michellebu/happy">github</a>
</div>
</div>
</div>

