<script>
  <% if (user) { %>
    var currentUser = <%-user%>;
  <% } else { %>
    var currentUser = null;
  <% } %>
</script>

<div class="snow front">
  <div class="clump">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
    <div class="five"></div>
    <div class="six"></div>
    <div class="seven"></div>
  </div>
</div>

<div class="snows">
  <a class="sad">:(</a>
  <div class="snow middle">
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
  </div>

  <div class="snow back">
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
  </div>
  <div class="snow back shadow">
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
  </div>

</div>

<div class="top">
  <div class="wrapper">
    <div class="title">
      <div class="username"></div>
      <div class="hj">happiness jar</div>
      <div id="number">10</div>
    </div>

    <div id="instructions">
      <p>
      </p>
      <p>
      <strong>This is your happiness jar.</strong> Use it to remember every
      happy moment this year.
      </p>
      <p>
      Give us your <strong>phone number</strong> and we'll store every text you send us in your
      jar. Give us your <strong>email address</strong> and at the end of the year happy memories will fill
      your inbox. We all just need a little reminder of what makes us happy.
      </p>
      <a class="close">close</a>
    </div>

    <%- partial('partials/login') %>
    <%- partial('partials/settings') %>
  </div>
</div>
<div class="top-background"></div>

<div class="wrapper">


  <div class="menu">
    <div id="sadness">
      "<span class="happy-message"></span>"
    </div>
    <span class="logged-in-items">
      <a class="settings">Settings</a>
      <a class="logout">Logout<a>
    </span>
  </div>

  <div class="bubble long up"></div>
  <div class="lid">add a happiness</div>
  <div class="jar">
    <div class="liquid animated shake">
    </div>
  </div>

  <div id="happiness">
    <form class="happiness form">
      <input class="field" name="message" type="text" required>
      <a class="close button">close</a>
      <input type="submit" class="button" value="save (:">
    </form>
  </div>


</div>


<div id="footer">
  <div class="wrapper">
    <div id="colors">
      <div class="red"></div><div class="yellow"></div><div class="green"></div><div class="blue"></div><div class="purple"></div>
    </div>
    <div id="tagline">
      <a class="instructions">why?</a>
      <a href="mailto:michelle@michellebu.com">help!</a>
      <a href="https://github.com/michellebu/happy">github</a>
    </div>
  </div>
</div>

