<script>
  <% if (!!user) { %>
    var user = <%-user%>;
  <% } else { %>
    var user = null;
  <% } %>
</script>

<div class="snow front">
  <div class="clump">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
    <div class="five"></div>
    <div class="six"></div>
    <div class="seven"></div>
  </div>
</div>

<div class="snows">
  <div class="snow middle">
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
  </div>

  <div class="snow back">
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
    <div class="clump">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
      <div class="six"></div>
      <div class="seven"></div>
    </div>
  </div>

  </div>
</div>

<div class="wrapper">

  <div class="title">
    <div id="username"><% if (!!user) { %><%=user.username%><% } %></div>
    <div class="hj">happiness jar</div>
  </div>

  <%- partial('partials/login') %>

  <div class="lid"></div>
    <div class="bubble long"></div>
  <div class="jar">
    <div class="liquid animated shake">
      <div class="bubble short up"></div>
    </div>
  </div>

</div>


<div id="instructions">
<div id="instructionscontainer">
<button id="show_instructions">What is this?</button>
<div id="hidden_instructions">
  <p>
  Sometimes we get carried away with the big 'important' things in life and forget how
  many happy minutes and seconds we have had.
  </p>
  <p>
  <strong>This is your happiness jar.</strong> Use it to keep track of every bubble bath you
  take, every puppy you pet. Use it to retrieve sweetness when you're a bit
  sour.
  </p>
  <p>
  Give us your <strong>phone number</strong> and we'll store every text you send us in your
  jar. Give us your <strong>email address</strong> and at the end of the year happy memories will fill
  your inbox.
  </p>
  <p>
  And of course, a silly quote on the topic from Simon and Garfunkel:
  <strong>"I've got nothing to do today but smile."</strong>
  </p>
  <button class="close">close</button>
  </div>
</div>
</div>

<!--div id="footer">
  <div id="footercontainer">
    <div id="colors">
      <div id="red" class="color red selected"></div>
      <div id="orange" class="color orange"></div>
      <div id="yellow" class="color yellow"></div>
      <div id="green" class="color green"></div>
      <div id="blue" class="color blue"></div>
      <div id="violet" class="color violet"></div>
      <div id="white" class="color white"></div>
    </div>
    <div id="tagline">
      <a href="mailto:michelle@michellebu.com">feedback</a>
      <a href="https://github.com/michellebu/happy">github</a>
      <a class="instructions">instructions</a>
    </div>
  </div>
</div-->

