html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */


body, html {
  background-color: #4e4e4e;
  font-family: 'airplane', Helvetica, Arial;
  color: #4e4e4e;
}

#wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 500px;
}

#panel {
  display: none;
}
.bubble:hover {
  cursor: pointer;
}

/* Control panel stylings */
#panel {
  position: relative;
  width: 300px;
  margin: 0 auto;
}


/* Login form stylings */
.login-errors {
  background-color: #ec8585;
  border-radius: 0px 0px 15px 15px;
  display: none;
  color: #4e4e4e;
  width: 70%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

#login {
  position: absolute;
  right: 83px;
  margin: 0 auto;
  top: 102px;
  background-color: #4e4e4e;
  border-radius: 20px 0 0 20px;
  padding: 0 0 10px 0px;
  width: 275px;

}
#login button {
  cursor: pointer;
  margin: 20px 40px 5px 40px;
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: #828282;
}

#login button:hover {
  color: #6b6b6b;
}

#login .active, #login .active:hover {
  cursor: default;
}

/** TODO: CHANGE INPUT FONTS */
#login input {
  width: 80%;
  display: block;
  margin: 2px 0px;
  border-radius: 10px 0 0 10px;
  padding: 15px;
  font-size: 22px;
  border: none;
  float: right;
  background-color: #ec8585;
  color: #4e4e4e;
}


#login input:focus {
  outline: none;
  background-color: #c5ecec !important;
}

#login #submit {
  width: 50px;
  font-size: 14px;
  float: none;
  background-color: #828282;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 50px;
}

#login #submit:hover {
  background-color: #6b6b6b;
}

.clear {
  clear: both;
}

#login label {
  color: #ec8585;
  float: right;
  width: 90%;
  font-size: 14px;
  margin-top: 8px;
}

/* Titles */
#title {
  position: relative;
  z-index: 100;
  font-size: 40px;
  padding-top: 50px;
  width: 190px;
  margin: 0 auto;
  line-height: 50px;
}

#username {
  display: none;
  float: left;
  color: #ec8585;
}

#hj {
  float: right;

}

#outline, #title, #moving, #background {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Colors! */
#footer {
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  z-index: 100;
  background-color: #404040;
}
#footercontainer {
  line-height: 40px;
  color: #6d6d6d;
  margin: 0 50px;
}

#tagline a {
  color: #6d6d6d;
  margin: 5px;
  display: inline-block;
}

#colors, #tagline {
  float: left;
}

#colors {
  margin-right: 20px;
}

.color {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 10px 0px;
  float: left;
}

.color:hover {
  cursor: pointer;
  margin-top: 7px;
}

#colors .selected, #colors .selected:hover {
  cursor: default;
  border-bottom: 10px solid #828282;
  margin-top: 0px;
}

.red {
  background-color: #ec8585;
}
.fred, .fred:hover {
  color: #ec8585 !important;
}

.orange {
  background-color: #ffb676;

}
.forange, .forange:hover {
  color: #ffb676 !important;
}

.yellow {
  background-color: #ffee8e;
}
.fyellow, .fyellow:hover {
  color: #ffee8e !important;
}

.green {
  background-color: #b3d79d;
}
.fgreen, .fgreen:hover {
  color: #b3d79d !important;
}

.blue {
  background-color: #82d0e7;
}
.fblue, .fblue:hover {
  color: #82d0e7 !important;
}

.violet {
  background-color: #b08bc7;
}
.fviolet, .fviolet:hover {
  color: #b08bc7 !important;
}

.white {
  background-color: #eff7f7;
}
.fwhite, .fwhite:hover {
  color: #eff7f7 !important;
}


/* Artsy stuff */
#moving, #add, #background, #jar, #liquid, #outline {
  position: absolute;
}

#add {
  top: -46px;
  width: 74px;
  left: 241px;
}

#background {
  background-color: #c5ecec;
  width: 100%;
  top: 0;
  height: 130px;
  z-index: 0;
}

#jar, #outline {
  top: 130px;
}

#jar {
  background-color: #c5ecec;
  height: 500px;
  width: 500px;
}

#push {
  height: 40px;
  position: absolute;
  top: 610px;
  width: 100%;
}

#moving {
  bottom: 0px;
  width: 450px;
  height: 90%;
  /*
  animation-name: liquid;
  -webkit-animation-name: liquid;
  -moz-animation-name: liquid;
  -o-animation-name: liquid;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  */
}

#liquid {
  width: 100%;
  height: 100%;
  bottom: 0;
  background: #ec8585 url('/images/liquidbg.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  pointer-events: none;
}





#wrapper img {
}

#outline {
  background: url('/images/jar.png');
  background-size: contain;
  width: 500px;
  height: 500px;
  background-repeat :no-repeat;
  pointer-events: none;
}
#outline img {
  width: 500px;
}

/* Animation
@-webkit-keyframes liquid {
  0% {
    left: 20px;
    bottom: 0px;
  }

  25% {
    left: 23px;
    bottom: -3px;
  }
   
  50% {
    left: 26px;
    bottom: 0px;
  }

  100% {
    left: 30px;
    bottom: -3px;
  }
}*/

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0%, 100% { left: 10px; }
  50% { left: 20px; }
}
@-moz-keyframes shake {
  0%, 100% { left: 10px; }
  50% { left: 20px; }
}
@-o-keyframes shake {
  0%, 100% { left: 10px; }
  50% { left: 20px; }
}
@keyframes shake {
  0%, 100% { left: 10px; }
  50% { left: 20px; }
}

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}
