html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */


/* Dark blue: #143e53 */
/* Dark teal: #366464 */

body, html {
  min-height: 100%;
  height: 100%;
  background: #92ae8d; /* Old browsers */
  background: -moz-linear-gradient(top, #92ae8d 0%, #a1bd88 52%, #a1bd88 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92ae8d), color-stop(52%,#a1bd88), color-stop(100%,#a1bd88)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #92ae8d 0%,#a1bd88 52%,#a1bd88 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #92ae8d 0%,#a1bd88 52%,#a1bd88 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #92ae8d 0%,#a1bd88 52%,#a1bd88 100%); /* IE10+ */
  background: linear-gradient(to bottom, #92ae8d 0%,#a1bd88 52%,#a1bd88 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92ae8d', endColorstr='#a1bd88',GradientType=0 ); /* IE6-9 */
  overflow: hidden;

  font-family: 'Metrophobic', sans-serif;
  font-size: 15px;
  color: #7f9d7a;
}


.wrapper {
  margin: 0 auto;
  position: relative;
  width: 60%;
  min-width: 200px;
  max-width: 600px;
  height: 100%;
  z-index: 99;
}

.lid, .jar, .liquid {
  position: absolute;
  pointer-events: none;
}

.lid {
  bottom: 290px;
  height: 30px;
  width: 200px;
  background-color: #fcfff2;
  border-radius: 5px;
  border-bottom: 1px solid #a4c19f;
  box-sizing: border-box;
  padding: 6px 9px;
  color: #a1bd88;
  font-weight: bold;
}

.jar {
  bottom: 40px;
  background-color: rgba(186,246,255,0.3);
  height: 250px;
  width: 200px;
  overflow: hidden;
  border-radius: 10px 10px 20px 20px;
  border-left: 2px solid rgba(255,255,255,0.4);
  border-right: 2px solid rgba(255,255,255,0.4);
  box-sizing: border-box;
}

.liquid {
  width: 201px;
  bottom: -5px;
  background-color: #d64f42;
  opacity: 0.7;
  height: 40%; /* TO CHANGE */
  overflow: hidden;
}

.liquid.shine {
  background-color: #f4bc63;
}

.snows {
  overflow: hidden;
  width: 100%;
}

.snow {
  position: absolute;
  width: 100%;
  white-space: nowrap;
}

.front, .middle, .front .clump div, .middle .clump div {
  background-color: #fcfff2;
}

.front .clump {
  padding-left: 180px;
}

.snow.front {
  z-index: 100;
  bottom: 0px;
  height: 40px;
  max-height: 40px;
}

.snow.middle {
  bottom: 0px;
  height: 90px;
  max-height: 90px;
  z-index: 2;
}

.snow.back {
  bottom: 0px;
  height: 160px;
  z-index: 1;
  text-align: right;
}

.back, .back .clump div {
  background-color: #e8f4d8;
}

.middle .clump {
  margin-top: -50px;
  display: inline-block;
}
.back .clump {
  margin-top: -50px;
  display: inline-block;
}

.clump {
  position: relative;
  height: 100px;
  width: 245px;
}

.back .clump {
  width: 300px;
}

.snow.front .clump {
  margin: -50px auto 0 auto;
  width: 60%;
}

.clump div {
  position: absolute;
  border-radius: 100px;
  background-color: #fff;
}
.clump .one {
  left: 0px;
  top: 35px;
  width: 30px;
  height: 30px;
}
.clump .two {
  left: 20px;
  width: 80px;
  height: 80px;
}
.clump .three {
  left: 80px;
  top: 10px;
  width: 30px;
  height: 30px;
}
.clump .four {
  left: 80px;
  top: 20px;
  width: 50px;
  height: 50px;
}
.clump .five {
  left: 120px;
  top: 30px;
  width: 60px;
  height: 60px;
}
.clump .six {
  left: 150px;
  top: 10px;
  width: 80px;
  height: 80px;
}
.clump .seven {
  left: 220px;
  top: 40px;
  width: 30px;
  height: 30px;
}

.back .clump .one {
  width: 40px;
  height: 40px;
  top: 30px;
}
.back .clump .two {
  width: 60px;
  height: 60px;
  top: 20px;
  left: 30px;
}
.back .clump .three {
  width: 30px;
  height: 30px;
  top: 20px;
  left: 115px;
}
.back .clump .six {
  width: 80px;
  height: 80px;
  top: 10px;
  left: 155px;
}
.back .clump .seven {
  width: 100px;
  height: 100px;
  top: 20px;
  left: 220px;
}

.back.shadow, .back.shadow .clump div {
  background-color: #92ae8d;
  height: 160px;
  z-index: 0;
}

.back.shadow {
  -webkit-filter: blur(30px);
  opacity: 0.6;
  height: 175px;
}


.clear {
  clear: both;
}

.hidden {
  display: none;
}

.title {
  color: #fff7dd;
  font-family: 'Grand Hotel', sans-serif;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  font-size: 40px;
  text-transform: lowercase;
  position: relative;
  top: 25px;
  left: 18px;
  z-index: 100;
}

.title, .snows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.long {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
}

.short {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

.bubble {
  left: 110px;
  opacity: 0.4;
  border-radius: 20px;
  position: absolute;
}

.bubble.up {
  background-color: rgba(255,255,255,0.6);
}

.bubble.down {
  background-color: rgba(255,255,255,0.3);
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes up {
  0%{ width: 0px; height: 0px; bottom: 0px; }
  100% { width: 30px; height: 30px; bottom: 100%; }
}
@-moz-keyframes up {
  0%{ width: 0px; height: 0px; bottom: 0px; }
  100% { width: 30px; height: 30px; bottom: 100%; }
}
@-o-keyframes up {
  0%{ width: 0px; height: 0px; bottom: 0px; }
  100% { width: 30px; height: 30px; bottom: 100%; }
}
@keyframes up {
  0%{ width: 0px; height: 0px; bottom: 0px; }
  100% { width: 30px; height: 30px; bottom: 100%; }
}

@-webkit-keyframes down {
  0% { top: 0% }
  100% { top: 100%; }
}

@-webkit-keyframes shake {
  0%, 100% { padding-bottom: 0px; }
  50% { padding-bottom: 5px; }
}
@-moz-keyframes shake {
  0%, 100% { padding-bottom: 0px; }
  50% { padding-bottom: 5px; }
}
@-o-keyframes shake {
  0%, 100% { padding-bottom: 0px; }
  50% { padding-bottom: 5px; }
}
@keyframes shake {
  0%, 100% { padding-bottom: 0px; }
  50% { padding-bottom: 5px; }
}


.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

.up {
  -webkit-animation-name: up;
  -moz-animation-name: up;
  -o-animation-name: up;
  animation-name: up;
}

.down {
  -webkit-animation-name: down;
  -moz-animation-name: down;
  -o-animation-name: down;
  animation-name: down;

  width: 20px;
  height: 20px;
  border: 1px solid #fff7dd;
}



/* Login partial */
#login {
  width: 200px;
  position: absolute;
  top: 90px;
  left: 0px;
  z-index: 100;
}

.field {
  display: block;
  padding: 9px 12px;
  margin: 5px 0;
  border: 0px;
  background-color: #fcfff2;
  border-radius: 5px;
  font-weight: 600;
  color: #7f9d7a;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.field:focus {
  background-color: #fff;
}

input, button {
  outline: 0;
}

.button {
  padding: 9px 15px;
  display: inline-block;
  border: 0px;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  background-color: #86a581;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: 0 1px 0 rgba(255,255,255,0.2);
  color: #fcfff2;
}

.button:hover {
  background-color: #82a17e;
  color: #e8f4d8;
}

.switch {
  display: inline-block;
  font-variant: small-caps;
  font-weight: 600;
  color: #fff7dd;
  float: right;
  padding: 6px 0;
  cursor: pointer;
}

.switch a:hover {
  color: #e8f4d8;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #7f9d7a;
  font-variant: small-caps;
  text-align: right;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #7f9d7a;
  font-variant: small-caps;
  text-align: right;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #7f9d7a;
  font-variant: small-caps;
  text-align: right;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #7f9d7a;
  font-variant: small-caps;
  text-align: right;
}
